<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecripto.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/fav.png') }}" />
    <title>{{ cripto }}</title>
    <!-- Adicione seus estilos e scripts aqui -->
</head>
<body>

    <nav class="navegacao">
        <div class="logo">
            <a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">
                <span>
                    <img src="../static/img/logo.png" alt="Imagem Início" width="60px"> APMC
                </span>
            </a>
            
        </div>
        <ul class="menu-principal">
            <li><a href="index">Início</a></li>
            <li><a href="index">Sobre</a></li>
            <li><a href="index">Criptomoedas</a></li>
            <li><a href="index">Feedbacks</a></li>
            <li><a href="index">Contato</a></li> 
            
              
        </ul>
        <div class="menu" id="menu-toggle">
            <div class="barra"></div>
            <div class="barra"></div>
            <div class="barra"></div>
        </div>
    </nav>

    <section id="monitoramento" class="monitoramento">
        <div class="container-monitoramento">
            <div class="titulo-cripto">
                <img src="{{ logos_criptomoedas[cripto] }}" alt="Logo {{ cripto }}" style="width: 50px; height: 50px; margin-left: 8px;">
                <span class="nome-cripto">Valor do {{ cripto }}</span>
                <img src="{{ logos_criptomoedas[cripto] }}" alt="Logo {{ cripto }}" style="width: 50px; height: 50px; margin-left: 8px;">
            </div>
            
            <div class="valor-cripto">
                <h3 id="preco-{{ cripto }}">
                    ${{ precos.get(cripto, {}).get('preco', 'Não disponível') | float | round(2) }}
                </h3>
                <p id="percentual-{{ cripto }}" class="indice {% if precos.get(cripto, {}).get('percentual_variacao', 0) > 0 %}verde{% else %}vermelho{% endif %}">
                    {{ precos.get(cripto, {}).get('percentual_variacao', 'Não disponível') | round(2) }}%
                </p>
                <p id="volume-{{ cripto }}">
                    Volume: ${{ precos.get(cripto, {}).get('volume', 'Não disponível') | float | round(2) }}
                </p>
            </div>
    
            <div class="grafico-normal" style="text-align: center;">
                {{ precos[cripto]['grafico_normal'] | safe }}
            </div>
    
            <div class="informacoes-adicionais">
                <h4>Informações de Preços {{ cripto }}</h4>
                <p>
                    O preço atual de {{ cripto }} é de ${{ precos.get(cripto, {}).get('preco', 'Não disponível') | float | round(2) }} com uma capitalização de mercado de ${{ precos.get(cripto, {}).get('capitalizacao', 'Não disponível') | float | round(2) }}.
                </p>
                <p>
                    O volume de trading nas últimas 24 horas é de ${{ precos.get(cripto, {}).get('volume', 'Não disponível') | float | round(2) }}.
                </p>
                <p>
                    {{ cripto }} está com uma variação de {{ precos.get(cripto, {}).get('percentual_variacao', 'Não disponível') | float | round(2) }}% nas últimas 24 horas, com um fornecimento em circulação de {{ precos.get(cripto, {}).get('fornecimento', 'Não disponível') }}.
                </p>
            </div>
            
            <!-- Feedback do Usuário -->
            <div class="feedback-usuario">
                <h4>Como você se sente em relação ao {{ cripto }} hoje?</h4>
                <div class="feedback-opcoes">
                    <span class="feedback-bom" onclick="darFeedback('bom')" aria-label="Bom Feedback" role="button">
                        👍 <!-- Joinha -->
                    </span>
                    <span class="feedback-ruim" onclick="darFeedback('ruim')" aria-label="Ruim Feedback" role="button">
                        👎 <!-- Joinha de cabeça para baixo -->
                    </span>
                </div>
                <div class="barra-feedback">
                    <div id="barra-bom" class="barra feedback-bom-barra" style="width: 0%;"></div>
                    <div id="barra-ruim" class="barra feedback-ruim-barra" style="width: 0%;"></div>
                </div>
                <div class="contagem-votos">
                    <span id="contagem-bom">0 votos Bom</span>
                    <span id="contagem-ruim">0 votos Ruim</span>
                </div>
                <p class="observacao">Observação: esta informação é apenas para referência.</p>
            </div>
        
        </div>
    </section>
    
    <script>
        setInterval(function() {
            fetch('/atualizar_dados/{{ cripto }}')
                .then(response => response.json())
                .then(data => {
                    // Atualizar o preço
                    document.getElementById('preco-{{ cripto }}').innerText = '$' + parseFloat(data.preco).toFixed(2);
    
                    // Atualizar o percentual de variação com sinal
                    const percentualElem = document.getElementById('percentual-{{ cripto }}');
                    const sinal = data.percentual_variacao >= 0 ? "+" : "-";
                    percentualElem.innerText = `${sinal}${Math.abs(data.percentual_variacao).toFixed(2)}%`;
    
                    // Atualizar volume de mercado
                    document.getElementById('volume-{{ cripto }}').innerText = 'Volume: $' + parseFloat(data.volume).toFixed(2);
    
                    // Aplicar a classe para a cor correta no percentual
                    if (data.percentual_variacao >= 0) {
                        percentualElem.classList.add('verde');
                        percentualElem.classList.remove('vermelho');
                    } else {
                        percentualElem.classList.add('vermelho');
                        percentualElem.classList.remove('verde');
                    }
    
                    // Atualizar o gráfico com os dados históricos
                    const trace = {
                        x: data.historico_datas,  // Array de datas
                        y: data.historico_precos, // Array de preços
                        mode: 'lines+markers',
                        line: { color: data.percentual_variacao >= 0 ? '#0eda0a' : 'red', width: 2 },
                        marker: { size: 5 }
                    };
                    const layout = {
                        title: `Histórico de Preços de {{ cripto }}`,
                        xaxis: { title: 'Data' },
                        yaxis: { title: 'Preço $' },
                        height: 400,
                        width: 800,
                        margin: { l: 40, r: 40, t: 40, b: 40 },
                        paper_bgcolor: 'rgba(0,0,0,0)',
                        plot_bgcolor: 'rgba(255,255,255,0)'
                    };
    
                    // Renderizar o gráfico
                    Plotly.newPlot(`grafico-normal-{{ cripto }}`, [trace], layout);
                })
                .catch(error => console.error('Erro ao atualizar dados:', error));
        }, 10000); // Atualiza a cada 10 segundos
    </script>
    
    <div class="container">
        <h1>Previsão de Preços para {{ cripto }}</h1>

        <!-- Modal -->
            
        <div id="modal" class="modal">
            <div class="modal-conteudo">
                <span class="fechar" onclick="fecharModal()">&times;</span>
                <h2>Aviso</h2>
                <p>Dependendo do período histórico escolhido, a previsão pode variar. É recomendado que você escolha o máximo possível de dados para uma previsão mais precisa.</p>
                <label>
                    <input type="checkbox" id="naoMostrarMais"> Não mostrar novamente
                </label>
                <button id="continuar">Continuar</button>
            </div>
        </div>

        <script>
            // Exibir o modal ao carregar a página
            window.onload = function() {
                // Verifica se o usuário escolheu não mostrar mais
                if (!localStorage.getItem('naoMostrarMais')) {
                    document.getElementById('modal').style.display = 'block';
                }
            };
        
            // Fechar o modal
            function fecharModal() {
                document.getElementById('modal').style.display = 'none';
            }
        
            // Continuar com a previsão
            document.getElementById('continuar').onclick = function() {
                // Armazenar a escolha do usuário
                if (document.getElementById('naoMostrarMais').checked) {
                    localStorage.setItem('naoMostrarMais', 'true');
                }
                fecharModal(); // Fecha o modal
                document.querySelector('.formulario').submit(); // Envia o formulário
            };
        </script>
        
        <div id="modalExplicacao" class="modal-expl"> 
            <div class="modal-expl-conteudo">
                <span class="fechar-expl" onclick="fecharModal()">×</span>
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo APMC" class="logo-modal" width="40px">
                
                <div id="pagina1" class="pagina active">
                    <h2>Como Funciona a Previsão</h2>
                    <p>A previsão utiliza dados históricos de preços de criptomoedas e aplica um modelo estatístico para identificar padrões e tendências. Essa análise baseia-se em informações passadas, mas deve-se lembrar que o mercado é influenciado por fatores como eventos econômicos e decisões políticas, o que pode afetar a precisão das previsões.</p>
                    <button class="navegar" onclick="irParaPagina('pagina2')">Próximo</button>
                </div>
                
                <div id="pagina2" class="pagina" style="display:none;">
                    <h2>Valores Estimados</h2>
                    <p>A previsão inclui valores mínimos e máximos, refletindo a volatilidade do mercado. Esses intervalos são importantes para entender os riscos e oportunidades potenciais de investimento, servindo como uma ferramenta útil para decisões informadas.</p>
                    <button class="navegar" onclick="irParaPagina('pagina1')">Anterior</button>
                    <button class="navegar" onclick="irParaPagina('pagina3')">Próximo</button>
                </div>
                
                <div id="pagina3" class="pagina" style="display:none;">
                    <h2>Atenção</h2>
                    <p>Lembre-se de que o mercado de criptomoedas é dinâmico e sujeito a rápidas mudanças. As previsões são baseadas em dados atuais e não garantem resultados futuros. Utilize essas informações como referência e considere realizar análises adicionais antes de investir.</p>
                    <p>Seja cauteloso e consulte especialistas ou fontes confiáveis antes de tomar decisões.</p>
        
                    <!-- Opção de não mostrar novamente -->
                    <div id="opcaoNaoMostrar" style="margin-top: 20px;">
                        <label>
                            <input type="checkbox" id="naoMostrar" onclick="naoMostrarNovamente()">
                            Não mostrar novamente
                        </label>
                    </div>
                    
                    <button class="navegar" onclick="irParaPagina('pagina2')">Anterior</button>
                    <button class="navegar" onclick="fecharModal()">Fechar</button>
                </div>
            </div>
        </div>
        
        <script>
            // Função para mostrar o modal
            function mostrarModal() {
                // Verifica se a opção "não mostrar novamente" foi marcada
                if (localStorage.getItem('naoMostrar') !== 'true') {
                    document.getElementById('modalExplicacao').style.display = 'block';
                    irParaPagina('pagina1'); // Inicia na página 1
                }
            }
        
            // Função para fechar o modal
            function fecharModal() {
                document.getElementById('modalExplicacao').style.display = 'none';
            }
        
            // Função para ir para a página especificada
            function irParaPagina(paginaId) {
                // Ocultar todas as páginas
                const paginas = document.querySelectorAll('.pagina');
                paginas.forEach(pagina => {
                    pagina.style.display = 'none';
                });
        
                // Mostrar a página atual
                document.getElementById(paginaId).style.display = 'block';
            }
        
            // Função para armazenar a opção "Não mostrar novamente"
            function naoMostrarNovamente() {
                const checkBox = document.getElementById('naoMostrar');
                localStorage.setItem('naoMostrar', checkBox.checked);
            }
        
            // Mostrar o modal após 30 segundos
            setTimeout(mostrarModal, 1000); // 30 segundos
        </script>
        
        
        

        
        
        <form method="POST" action="{{ url_for('previsao_precos', cripto=cripto) }}" class="formulario">
            <div class="campo">
                <label for="periodo">Escolha o Período Histórico:</label>
                <select name="periodo" id="periodo">
                    <option value="1m" {% if periodo_historico == '1m' %}selected{% endif %}>Último Mês</option>
                    <option value="3m" {% if periodo_historico == '3m' %}selected{% endif %}>Últimos 3 Meses</option>
                    <option value="6m" {% if periodo_historico == '6m' %}selected{% endif %}>Últimos 6 Meses</option>
                    <option value="1y" {% if periodo_historico == '1y' %}selected{% endif %}>Último Ano</option>
                    <option value="5y" {% if periodo_historico == '5y' %}selected{% endif %}>Últimos 5 Anos</option>
                </select>
            </div>
        
            <div class="campo">
                <label for="dias">Quantidade de Dias de Previsão (30 a 365):</label>
                <input type="number" name="dias" id="dias" value="{{ periodos }}" min="30" max="365" required> <!-- Campo obrigatório -->
            </div>
        
            <button type="submit">Iniciar Previsão</button>
        </form>
        
        
        
        
        

        {% if grafico %}
        <h2>Gráfico de Previsão</h2>
        <div class="graph">
            {{ grafico | safe }}
        </div>
        {% endif %}

        {% if previsao is not none %}
        <div>
            <h2>Previsão de Preços</h2>
            <table class="table table-bordered table-hover table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Data</th>
                        <th>Previsão</th>
                        <th>Limite Inferior</th>
                        <th>Limite Superior</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in previsao.iterrows() %}
                    <tr>
                        <td>{{ index.strftime('%Y-%m-%d') }}</td>
                        <td>{{ row.yhat | round(2) }}</td>
                        <td>{{ row.yhat_lower | round(2) }}</td>
                        <td>{{ row.yhat_upper | round(2) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
            
        </div>
        {% endif %}


        <div>
            <h2>Feedback</h2>
            <p>Se tiver algum comentário, sinta-se à vontade para entrar em contato!</p>
        </div>
    </div>
    
    <footer>
        <div id="contato"class="footer-container">

            <div class="footer-column-right">
                <h3>Contato</h3>
                <ul>
                    <li>Email: <a href="mailto:Site.APMC@gmail.com">Site.APMC@gmail.com</a></li>
                
                </ul>
                <p>&copy; 2024 APMC - Todos os direitos reservados</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>

